deployment:
  enabled: true

service:
  enabled: true
  type: ClusterIP
  port: 8080
  targetPort: "http"
  metricsPort: 8081

dbInitApp:
  image:
    name: dawker/sample-kotlin
    tag: latest
  initCommand: ["mysql <", "db_backup.dump"]

app:
  image:
    name: dawker/sample-kotlin
    tag: latest
  container:
    port: 8080
    metricsPort: 8081

database:
  enabled: true
  image:
    name: mysql
    tag: latest

metrics:
  enabled: true

healthcheck:
  livenessProbe:
    httpGet:
      path: "/"
      port: "http"
      scheme: HTTP
    timeoutSeconds: 2
    periodSeconds: 5
    successThreshold: 1
    failureThreshold: 12
  readinessProbe:
    httpGet:
      path: "/"
      port: "http"
      scheme: HTTP
    timeoutSeconds: 1
    periodSeconds: 3
    successThreshold: 1
    failureThreshold: 5

# Creates a Prometheus ServiceMonitor object to scrape custom app metrics if exposed
serviceMonitor:
  enabled: true
  path: /metrics
  scrapeTimeout: 10s
  interval: 10s
